extends layout

block content

  h1= title

  p Добро пожаловать на сайт #{title}

  div
    table(border=1, border-collapse=collapse, sortable=true, rules=all)
      thead
        tr: th Заголовок
            th Pfujkjdjr
      tbody
        tr: td Ячейка
            td afewfewf

  table= tabl
